@charset "UTF-8";
/* ====RESET==== */
* {
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
}

@keyframes aparicion {
  0% {
    opacity: 0;
    transform: scale(2) translateY(75px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
/*Comienza la sección index*/
header nav {
  background: linear-gradient(to bottom, orange, black);
}

main {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/15226638_v660-mon-04-travelbadge.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main section .titulos-2 {
  font-size: 2.5rem;
  padding: 20px 0;
  margin-left: 10px;
}
main section .boton:hover {
  color: orange;
}
main #preguntas-frecuentes {
  margin-bottom: 100px;
}
main #preguntas-frecuentes .titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 15px;
}
main .oferta-container {
  width: 50%;
  height: 50%;
  margin: 1% 25%;
}
main .primera-caja {
  margin-left: 5px;
}
main .section-index {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}
main #preguntas-frecuentes .titulos-preguntas {
  margin-left: 35px;
  color: orange;
}
main #preguntas-frecuentes .p-preguntas {
  margin-left: 10px;
  font-size: 1.4rem;
}
main #preguntas-frecuentes .opciones-compra {
  font-size: 1.4rem;
  margin-left: 10px;
}
main #preguntas-frecuentes .opciones-pago {
  font-size: 1.4rem;
  margin-left: 10px;
}
main article {
  display: flex;
  flex-direction: row;
}
main hr {
  border: solid 2px;
  color: black;
}
main h3 img {
  display: inline-block;
}
main .hr-bn {
  border: none;
}

footer {
  background: linear-gradient(to bottom, orange, black);
}

/*Comienza la sección Ofertas*/
header .hamburguesa {
  display: none;
}

main .sec-ofer-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1, 1fr;
}
main div .caja-ofertas {
  margin: 50px 20px;
  border: solid;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}
main div .caja-ofertas:hover {
  height: 300px;
  transition: height 2s;
}
main div .titulo-ofertas {
  font-family: "Russo One", sans-serif;
  font-size: 1.6rem;
  color: black;
  margin-left: 5px;
  top: -23%;
  left: 10%;
  margin-top: 0%;
  position: relative;
}
main div #carouselExampleCaptions {
  display: none;
}
main div #carouselExampleCaptions2 {
  display: none;
}
main div #carouselExampleCaptions3 {
  display: none;
}
main div .carousel-indicators {
  display: none;
}
main div .carousel-item {
  display: none;
}

/*Comienza la sección Catálogo*/
header nav ul li a:hover {
  color: orange;
}

main .h3-catalogo {
  font-family: cursive;
  font-size: 1.8rem;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 15px;
  color: orange;
}
main h3 div p {
  font-family: "Russo One", sans-serif;
  font-size: 1.6rem;
  display: none;
}
main .catalogo-item:hover {
  width: 300px;
  transition: width 2s;
}
main section .section-catalogo {
  width: 100%;
  /* display: flex;
  flex-direction: row; */
}
main section div .catalogo-item {
  border: solid;
  width: 200px;
  height: 200px;
  /* display: flex;
  flex-direction: row; */
  border-radius: 20px;
  margin-left: 15px;
  margin-bottom: 40px;
  margin-right: 0px;
  animation-name: aparicion;
  animation-duration: 2s;
  animation-delay: 0, 5s;
  animation-fill-mode: forwards;
}
main section div .div-catalogo {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, fr);
  margin-top: 15px;
  width: 100%;
}

footer ul li a:hover {
  color: black;
}

/*Comienza la sección Mis Viajes*/
main .buscar-reservas {
  margin-left: 15px;
}
main .boton-planea {
  margin: 2% 45%;
  width: 15%;
  height: 20%;
}
main .byp-misviajes {
  font-size: 1.4rem;
}

/*Comienza la sección Ayuda*/
main form .div-ayuda {
  margin-bottom: 2%;
  margin-left: 4%;
}
main section #section1-ayuda {
  text-align: left;
}
main section #section2-ayuda {
  text-align: end;
  text-align: justify;
}
main section .p-preguntas2 {
  font-size: 1.3rem;
  text-indent: 20px;
}
main section .titulos-ayuda {
  margin-left: 5px;
  color: orange;
}
main section .opciones-compra2 {
  margin-left: 15px;
  font-size: 1.3rem;
}

header .portada {
  background-image: url(../img/portada.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header #icono {
  width: 150px;
  height: 150px;
  display: flex;
  opacity: 80%;
}
header div {
  color: black;
  background-color: rgb(0, 0, 0);
  margin-bottom: 0px;
  border: solid;
  border-bottom: solid;
}
header nav {
  display: flex;
  width: 100%;
}
header nav ul {
  background-color: black;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 40px;
}
header nav ul li {
  background-color: black;
  font-size: 1.05rem;
  margin-top: 5px;
}
header nav ul li a {
  color: white;
  font-size: 1.05rem;
}

footer {
  border-top: solid;
  border-left: solid;
  border-right: solid;
  background-color: black;
  margin: 0px;
  width: 100%;
}
footer section {
  color: white;
  display: inline-block;
  margin: 10% 30%;
  margin-bottom: 0%;
  text-align: start;
}
footer section b {
  color: black;
}
footer section ul li {
  color: white;
}

.boton {
  display: inline-block;
  margin-top: 5px;
  color: brown;
}

.input {
  width: 125px;
  display: inline-block;
  margin-top: 5px;
}

#input {
  margin-top: 5px;
}

.selector {
  width: 125px;
  display: inline-block;
  margin-top: 5px;
}

@media (min-width: 320px) and (max-width: 480px) {
  /* Index */
  header #icono {
    width: 20%;
    height: 5%;
  }
  header div {
    width: 100%;
    color: black;
  }
  header .container-fluid {
    background-image: none;
    color: black;
  }
  header .collapse {
    width: 100%;
  }
  header .navbar {
    width: 100%;
    display: flex;
    padding: 0;
  }
  header nav {
    display: none;
  }
  header #navbarToggleExternalContent {
    color: black;
  }
  header .titulo {
    font-size: 2rem;
    margin: 5%;
  }
  header .carousel-inner {
    width: 100%;
    height: 80%;
  }
  header #carouselExampleIndicators {
    width: 100%;
  }
  header .boton {
    margin: 1.2%;
  }
  body {
    width: 100%;
  }
  main {
    width: 100%;
  }
  footer {
    width: 100%;
    display: block;
  }
  footer section {
    margin-left: 26%;
    margin-top: 2%;
    width: 100%;
  }
  footer section b {
    font-size: 0.5rem;
    margin-top: 10%;
    text-align: center;
  }
  footer section ul {
    margin-left: -30%;
  }
  footer section ul li {
    font-size: 0.4rem;
  }
  footer .footer1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  header nav {
    display: none;
  }
  header nav .container-fluid {
    background-image: none;
  }
  header nav .boton-planea {
    margin-left: 40%;
  }
}
main .oferta-container {
  height: 300px;
}
main .carousel-inner2 {
  height: 10%;
}
main .carousel-control-next {
  margin-top: 25%;
}
main .carousel-control-next-icon {
  margin-top: 25%;
}
main .carousel-control-prev {
  margin-top: 25%;
  width: 25%;
}
main .carousel-control-prev-icon {
  margin-top: 25%;
}

@media (min-width: 1200px) and (max-width: 1440px) {
  header .collapse {
    display: none;
  }
  header .hamburguesa {
    display: none;
  }
  header nav {
    display: flex;
    width: 100%;
  }
  header nav ul {
    background-color: black;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  header nav ul li {
    background-color: black;
    font-size: 1.05rem;
  }
  header nav ul li a {
    color: white;
    font-size: 1.05rem;
  }
  header .navbar {
    display: none;
  }
  main #carouselExampleIndicators {
    display: flex;
  }
  main .oferta-container {
    height: 450px;
  }
  main .carousel-inner2 {
    height: 10%;
  }
  main section .carousel-inner {
    display: flex;
  }
  main section .oferta-container {
    display: flex;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  /* Sección Ofertas */
  main .carousel-inner {
    margin-bottom: 15%;
  }
  main section div .caja-ofertas {
    width: 80%;
    display: none;
  }
  main section div .titulo-ofertas {
    font-size: 100%;
    color: black;
    margin-left: 15%;
    margin-bottom: 10%;
    display: none;
  }
  main section div .titulo-ofertas #carouselExampleCaptions {
    display: flex;
  }
  main section div .titulo-ofertas #carouselExampleCaptions2 {
    display: flex;
  }
  main section div .titulo-ofertas #carouselExampleCaptions3 {
    display: flex;
  }
  main section div .titulo-ofertas .carousel-item {
    width: 50%;
    height: 50%;
    margin: 3% 5%;
  }
  main section div .titulo-ofertas .carousel-indicators {
    width: 30%;
    height: 10%;
    color: black;
  }
  main section div .titulo-ofertas .carousel-control-prev-icon {
    color: brown;
  }
  main section div .titulo-ofertas .carousel-control-next-icon {
    color: black;
  }
  main section div .titulo-ofertas .boton-carrusel {
    width: 5%;
  }
  main section div .titulo-ofertas .boton-carrusel-prev {
    color: black;
  }
  main section div .titulo-ofertas .boton-carrusel-next {
    color: black;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  header nav {
    display: none;
  }
  header .container-fluid {
    background-image: none;
  }
  main #carouselExampleCaptions {
    display: none;
  }
  main #carouselExampleCaptions2 {
    display: none;
  }
  main #carouselExampleCaptions3 {
    display: none;
  }
  main section .caja-ofertas {
    width: 80%;
  }
  main section .titulo-ofertas {
    font-size: 1.2rem;
  }
  main .sec-ofer-1 {
    width: 95%;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  header {
    width: 100%;
  }
  main {
    width: 100%;
  }
  main section .ofertas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1, 1fr;
  }
  main section div #carouselExampleCaptions.carousel.slide {
    display: none;
  }
  main section div #carouselExampleCaptions {
    display: none;
  }
  main section div #carouselExampleCaptions2 {
    display: none;
  }
  main section div #carouselExampleCaptions3 {
    display: none;
  }
  main section div .caja-ofertas {
    display: flex;
    width: 70%;
  }
  main section div .titulo-ofertas {
    display: flex;
    font-size: 1.5rem;
    margin-left: 3%;
  }
  footer {
    width: 100%;
  }
  footer .footer1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  /* Sección Catálogo */
  .section-catalogo {
    display: none;
  }
  main .carousel-inner {
    width: 90%;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  header nav {
    display: none;
  }
  .container-fluid {
    background-image: none;
  }
  main .titulo {
    font-size: 1.7rem;
  }
  main section .div-catalogo {
    display: none;
  }
  main .carousel-inner {
    width: 90%;
  }
  main .carousel-control-next {
    width: 30%;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  header {
    width: 100%;
  }
  main {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  footer .footer1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1, 1fr;
  }
  /* Sección Catálogo */
  main .carousel-control-prev {
    margin-bottom: 0%;
    margin-top: 10%;
  }
  main .carousel-control-next {
    margin-bottom: 0%;
    margin-top: 10%;
    margin-right: 10%;
  }
  main .carousel-control-prev-icon {
    display: none;
  }
  main .carousel-control-next-icon {
    display: none;
  }
  main section .section-catalogo {
    display: flex;
  }
  main div .carousel-inner {
    display: none;
  }
  main div .div-catalogo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1, 1fr;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  #icono {
    width: 20%;
    height: 5%;
  }
  header div {
    width: 100%;
    color: black;
  }
  .container-fluid {
    background-image: none;
    color: black;
  }
}
.collapse {
  width: 100%;
}

.navbar {
  width: 100%;
  display: flex;
  padding: 0;
}

header nav {
  display: none;
}

#navbarToggleExternalContent {
  color: black;
}

.titulo {
  font-size: 2rem;
  margin: 5%;
}

.carousel-inner {
  width: 100%;
  height: 80%;
}

#carouselExampleIndicators {
  width: 100%;
}

.boton {
  margin: 1.2%;
}

main {
  width: 100%;
}

footer {
  width: 100%;
  display: block;
}

footer section {
  margin-left: 26%;
  margin-top: 2%;
}

footer section b {
  font-size: 0.9rem;
  margin-top: 10%;
  text-align: center;
}

footer section ul {
  margin-left: -30%;
}

footer section ul li {
  font-size: 0.8rem;
}

.footer1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

@media (min-width: 600px) and (max-width: 1024px) {
  header nav {
    display: none;
  }
  header .container-fluid {
    background-image: none;
  }
  main .boton-planea {
    margin-left: 40%;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  header {
    width: 100%;
  }
  header .hamburguesa {
    display: none;
  }
  main {
    width: 100%;
  }
  main .boton-planea {
    margin: 2% 45%;
    width: 15%;
    height: 20%;
  }
  footer {
    width: 100%;
  }
  footer .footer1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1, 1fr;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  header nav {
    display: none;
  }
  .container-fluid {
    background-image: none;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  header {
    width: 100%;
  }
  header nav {
    display: flex;
  }
  main {
    width: 100%;
  }
  footer {
    width: 100%;
  }
  .footer1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1, 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
