
/*Comienza la sección Ayuda*/
main{
    section{
        form{
            .div-ayuda{
                margin-bottom: 25px;
            }
        }
        #section1-ayuda{
            text-align: left;
        }
        #section2-ayuda{
            text-align: end; text-align: justify;
        }
        
        .p-preguntas2{
            font-size: 1.3rem;
            text-indent: 20px;
        }
        .titulos-ayuda{
            margin-left: 5px;
        }
        .opciones-compra2{
            margin-left: 15px;
            font-size: 1.3rem;
        }
    }
}