
/*Comienza la sección Ayuda*/
main{
    form{
        .div-ayuda{
            margin-bottom: 2%;
            margin-left: 4%;
        }
    }
    section{
        #section1-ayuda{
            text-align: left;
        }
        #section2-ayuda{
            text-align: end; text-align: justify;
        }
        
        .p-preguntas2{
            font-size: 1.3rem;
            text-indent: 20px;
        }
        .titulos-ayuda{
            margin-left: 5px;
            @include estilo-titulos2;
        }
        .opciones-compra2{
            margin-left: 15px;
            font-size: 1.3rem;
        }
    }
}