/*Comienza la sección Catálogo*/
header{
    nav ul li a:hover{
        @include animacion-nav;
    }
}
main{
    .h3-catalogo{
        font-family: cursive; 
        font-size: 1.8rem;
        margin-bottom: 15px;
        margin-top: 15px;
        margin-left: 15px;
        @include estilo-titulos2;
    }
    h3 div p{
        font-family: 'Russo One', sans-serif;
        font-size: 1.6rem;
        display: none;
    }
    .catalogo-item:hover{
        @include transition-catalogo;
    }  
    section{
        .section-catalogo{
            width: 100%;
            /* display: flex;
            flex-direction: row; */
        }
    div{
        .catalogo-item{
            border: solid; 
            width: 200px;
            height: 200px;
            /* display: flex;
            flex-direction: row; */
            border-radius: 20px;
            margin-left: 15px;
            margin-bottom: 40px;
            margin-right: 0px;
            animation-name: aparicion;
            animation-duration: 2s;
            animation-delay: 0,5s;
            animation-fill-mode: forwards;  
        }
        .div-catalogo{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(1, fr);
            margin-top: 15px;
            width: 100%;
            }
        }
    }
}
footer ul li a:hover{
    @include animacion-footer;
}