/*Comienza la sección index*/
header{
    nav {
        @include estilo-titulos;
    }
}
main{
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(../img/15226638_v660-mon-04-travelbadge.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    section{
        .titulos-2{ 
            font-size: 2.5rem;
            padding: 20px 0;
            margin-left: 10px;
        }
        .boton:hover{
            @include estilo-botones;
        }
    }
    #preguntas-frecuentes{
        margin-bottom: 100px;
        .titulo{
            text-align: center;  
            font-size: 2.5rem;
            margin-top: 15px;
        }
    }
    
    // CAJA OFERTAS FLEXBOX 
    .oferta-container{
        width: 50%;
        height: 50%;
        margin: 1% 25%;
    }
    .primera-caja {
        margin-left: 5px;
    }
    .section-index{
        margin-top: 10%;
        margin-bottom: 10%;
        text-align: center;
    }
    #preguntas-frecuentes{
        .titulos-preguntas{
            margin-left: 35px;
            @include estilo-titulos2;
        }
        .p-preguntas{
            margin-left: 10px;
            font-size: 1.4rem;
        
        }
        .opciones-compra{
            font-size: 1.4rem;
            margin-left: 10px;
        }
        .opciones-pago{
            font-size: 1.4rem;
            margin-left: 10px;
        }
    }
    article{
        display: flex; flex-direction: row;
    }
    hr{
        border: solid 2px;
        color: black;
    }
    h3 img{
        display: inline-block;
    }
    .hr-bn{
        border: none;
    }
}
footer{
    @include estilo-titulos;
}
