/*Comienza la sección Mis Viajes*/
main{
    .buscar-reservas{
        margin-left: 15px;
    }
    .boton-planea{
        margin: 2% 45%;
        width: 15%;
        height: 20%;
    }
    .byp-misviajes{
        font-size: 1.4rem;
    }
}