
/*Comienza la sección Ofertas*/
header{
    .hamburguesa{
        display: none;
    }
}
main{
    section{
        .sec-ofer-1{
            @include flex-box;
            width: 100%;
        }
        .sec-ofer-2{
            @include flex-box;
            width: 100%;
        }
        .sec-ofer-3{
            @include flex-box;
            width: 100%;
        }
        div{
            .caja-ofertas{
                margin: 50px 20px;
                border: solid; 
                width: 250px;
                height: 250px; 
                display: flex; flex-direction: row;
                border-radius: 20px;
            }
            .titulo-ofertas{
            font-family: 'Russo One', sans-serif;
            font-size: 1.6rem;
            color: black;
            margin-left: 5px;
            top: -23%;
            left: 10%;
            margin-top: 0%;
            position: relative;
            }
            #carouselExampleCaptions{
            display: none;
            }
            #carouselExampleCaptions2{
            display: none;
            }
            #carouselExampleCaptions3{
            display: none;
            }
            .carousel-indicators{
            display: none;
            }
            .carousel-item{
            display: none;
            }
        }
    }
}
@media (min-width:320px) and (max-width:480px) {
    /* Sección Ofertas */
    main{
        section{
            div{
                .caja-ofertas{
                    width: 80%;
                    display: none;
                }
                .titulo-ofertas{
                    font-size: 100%;
                    color: black;
                    margin-left: 15%;
                    margin-bottom: 10%;
                    display: none;
                    #carouselExampleCaptions{
                        display: flex;
                    }
                    #carouselExampleCaptions2{
                        display: flex;
                    }
                    #carouselExampleCaptions3{
                        display: flex;
                    }
                    .carousel-item{
                        width: 50%;
                        height: 50%;
                        margin: 3% 5%;
                    }
                    .carousel-indicators{
                        width: 30%;
                        height: 10%;
                        color: black;
                    }
                    .carousel-control-prev-icon{
                        color: brown;
                    }
                    .carousel-control-next-icon{
                        color: black;
                    }
                    .boton-carrusel{
                        width: 5%;
                    }
                    .boton-carrusel-prev{
                        color: black;
                    }
                    .boton-carrusel-next{
                        color: black;
                    }
                }
            }
        }
    }
}
@media (min-width:600px) and (max-width:1024px){
    header{
        nav{
            display: none;
        }
        .container-fluid{
            background-image: none;
        }
    }
}
@media (min-width:1200px) and (max-width:1440px) {
    header{
        width: 100%;
    }
    main{
        width: 100%;
        div{
            #carouselExampleCaptions{
                display: none;
            }
            #carouselExampleCaptions2{
                display: none;
            }
            #carouselExampleCaptions3{
                display: none;
            }
            .caja-ofertas{
                display: flex;
                width: 70%
            }
            .titulo-ofertas{
                display: flex;
                font-size: 1.5rem;
                margin-left: 3%;
            }
            }
        }
    }
    footer{
        width: 100%;
        .footer1{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }
