
/*Comienza la sección Ofertas*/
header{
    .hamburguesa{
        display: none;
    }
}
main{
    section{
        .sec-ofer-1{
            @include flex-box;
            width: 100%;
        }
        .sec-ofer-2{
            @include flex-box;
            width: 100%;
        }
        .sec-ofer-3{
            @include flex-box;
            width: 100%;
        }
        div{
            .caja-ofertas{
                margin: 50px 20px;
                border: solid; 
                width: 250px;
                height: 250px; 
                display: flex; flex-direction: row;
                border-radius: 20px;
            }
            .titulo-ofertas{
            font-family: 'Russo One', sans-serif;
            font-size: 1.6rem;
            color: black;
            margin-left: 5px;
            top: -23%;
            left: 10%;
            margin-top: 0%;
            position: relative;
            }
            #carouselExampleCaptions{
            display: none;
            }
            #carouselExampleCaptions2{
            display: none;
            }
            #carouselExampleCaptions3{
            display: none;
            }
            .carousel-indicators{
            display: none;
            }
            .carousel-item{
            display: none;
            }
        }
    }
}
